/* --------------------------------About Page-------------------- */
.AboutContainer {
  max-width: 1000px;
  margin: 50px auto;
  padding: 30px;
}

@media (max-width: 768px) {
  .AboutContainer {
    margin: 30px auto;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .AboutContainer {
    margin: 20px auto;
    padding: 15px;
  }
}
